<!DOCTYPE html>
{% extends "navbar/mainpage.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contactus</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

{% block extendme%}<br>
<div class="container">
  <div class="jumbotron">
    <center>
      <h1>Contact US</h1>
      <address>
        Developed By <a href="mailto:webmaster@example.com">PM Venkat</a>.<br> 
        Chennai<br>
        Tamilnadu.
        </address>
    </center>    
</div>
{% endblock %}

</body>
</html>